body {
  display: flex;
  justify-content: center;
  background-color: rgb(123, 172, 189);
}

div#building {
  background-color: rgb(128, 124, 124);
  flex-direction: column;
  width: 500px;
  height: 700px;
  flex-wrap: wrap;
  flex-flow: center;
  margin-top: 30px;
}

.window {
  width: 100px;
  height: 100px;
  background-color: rgb(49, 49, 49);
  flex-wrap: wrap;
  display: inline-flex;
  margin: 30px 30px 20px 30px;
  text-align: center;
}

.window-on {
  background-color: gold;
}

.buttons {
  flex-direction: column;
  width: 100px;
}

.btn {
  margin: 40px 0px 0px 20px;
  padding: 5px;
  width: 150px;
}

p {
  text-align: center;
  margin-top: 50px;
  font-family: Helvetica, sans-serif;
}
